* {
    font-family: 'Source Sans Pro', sans-serif;
}

main > :not(section.active) {
    display: none;
}

section {
    padding: 0rem 1rem;
}

/*header*/

main {
    margin-top: 120px;
}

header {
    background-color: #2d2d2d;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

header > h1 {
    padding-left: 10px;
}

/*home view*/

#tutorList {
    list-style: none;
    padding-left: 0;
}

#tutorList li {
    border-style: solid;
    border-width: thin;
    width: 45%;
    margin: 0px 15px 15px 0px;
    padding: 15px;
    display:inline-block;
    clear: both; 
}

#tutorList img {
    float:left;
    margin-right: 10px;
}

#tutorList h2 {
    margin-top: 0px;
}

#tutorList p {
    margin-top: 2rem;
    font-size: .85rem;
}

#tutorList span {
    background-color: #dddddd;
    margin: .25rem;
    padding: .5rem 1.5rem;
    border-radius: 2rem;
}

#tutorList .btn-primary {
    float:right;
}

/*calendar view*/

#weekly_schedule {
    width: 100%;
    margin-bottom: 1rem;
    border-bottom: 1px solid black;
}

#weekly_schedule thead {
    background: #999999;
    color: #FFF;
}

#weekly_schedule td {
    padding: 1rem 1rem;
}

.text-secondary {
    color: #6c757d;
}

/*appointment view*/

form {
    margin-left: auto;
    margin-right: auto;
}

form input, textarea {
    width: 97.5%;
    padding: .5rem .75rem;
    border: solid 1px #6c757d;
}

.form-field {
    margin-bottom: .5rem;
}

form button {
    width: 100%;
    margin: .5rem 0rem;
}

#userName:focus, #message:focus {
    outline: 2px solid #c4e4fc;
}

/*buttons*/

.btn-primary {
    background-color:#569b84;
    color: white;
    border: none;
    padding: .5rem 1.5rem;
    font-size: 1rem;
    border-radius: .5rem;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #5496ad;
}

.btn-secondary {
    background-color:#889daf;
    color: white;
    border: none;
    padding: .5rem 1.5rem;
    font-size: 1rem;
    border-radius: .5rem;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: #5496ad;
}